BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
AccessModifierOffset: -4

ColumnLimit: 100
LineEnding: LF
InsertNewlineAtEOF: true

AlignAfterOpenBracket: BlockIndent
PackConstructorInitializers: Never

AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true

InsertBraces: true

PointerAlignment: Left
